/* === COMMON STYLES === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--White, #fefefe);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* === COMMON STYLES === */

/* === HEADER === */
.container {
  max-width: 320;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-hero {
  margin-bottom: 91px;
}

.menu {
  display: none;
}

.btn-order {
  display: none;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

/* MOBILE MENU WRAPPER */
.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 170px;
  height: 311px;
  flex-shrink: 0;
  z-index: 9999999999;
  background: var(--Button-green, #bbf330);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn {
  position: absolute;
  top: 7px;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-wrapper.menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-navigation {
  margin-top: 16px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-menu-item {
}

.mobile-menu-link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  gap: 37px;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #2c2c2c;
  font-weight: 700;
  border: none;
}

.btn-burger {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.btn-burger-icon:hover,
.btn-burger-icon:focus {
  fill: #ffe550;
}

@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 170px;
    height: 311px;
    flex-shrink: 0;
    z-index: 9999999999;
    background: var(--Button-green, #bbf330);
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 7px;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-wrapper.menu-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .btn-burger {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}

/* MOBILE MENU WRAPPER */

/* TABLET MENU */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .btn-burger {
    display: none;
  }

  .menu {
    display: flex;
    gap: 28px;
  }

  .btn-order {
    color: var(--Black, #2c2c2c);
    text-align: right;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    display: inline-flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--Button-green, #bbf330);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
  }

  .btn-order:hover,
  .btn-order:focus {
    background: #ffe450;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .page-header-container {
    justify-content: flex-start;
  }

  .navigation {
    margin-left: 200px;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #bbf330;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Десктоп (з 1280px) */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .navigation {
    margin-right: 30px;
    margin-left: 735px;
  }
}
/* HEADER (FINISH)*/

/* SECTION HERO (START) */
.title-hero {
  width: 280px;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
  margin-right: auto;
}

.text-hero {
  width: 266px;
  height: 101px;
  flex-shrink: 0;
  color: var(--Black, #2c2c2c);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  margin-top: 28px;
}

.btn-order-mobile {
  color: var(--Black, #2c2c2c);
  text-align: right;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  display: inline-flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--Button-green, #bbf330);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 32px;
}

.btn-order-mobile:hover,
.btn-order-mobile:focus {
  background: #ffe450;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-salat {
  display: none;
}

.container-kotlet {
  display: none;
}

/* Планшети (з 768px) */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container-salat {
    display: none;
  }

  .container-hero {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
    position: relative;
    margin-bottom: 42px;
  }

  .container-title-text-btn {
    position: relative;
  }

  .title-hero {
    width: 537px;
    color: #2c2c2c;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    padding: 0;
    margin-top: 60;
    position: absolute;
  }

  .text-hero {
    margin-top: 204px;
    width: 336px;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .btn-order-mobile {
    margin-top: 46px;
  }

  .container-kotlet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 320px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 320px;
    border: 14px solid var(--Yellow-main, #ffe550);
    background: #fff;
    padding: 0;
    margin-top: 149px;
  }

  .icon-arrow-right {
    position: absolute;
    display: flex;
    right: 8px;
    width: 34px;
    height: 28px;
    flex-shrink: 0;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
  }

  .icon-arrow-left {
    position: absolute;
    display: flex;
    left: 395px;
    width: 34px;
    height: 28px;
    flex-shrink: 0;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
  }
}

/* Десктоп (з 1280px) */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .container-kotlet {
    display: none;
  }

  .container-title-text-btn {
    margin-top: 159px;
  }
  .container-hero {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
    margin-bottom: 69px;
  }
  .title-hero {
    margin-right: 0;
    margin-top: 0;
    width: 502px;
    height: 116px;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
  }

  .text-hero {
    width: 511px;
    height: 69px;
    flex-shrink: 0;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .btn-order-mobile {
    margin-top: 40px;
  }

  .container-salat {
    display: flex;
    margin-right: 15px;
    margin-top: 14px;
    width: 580px;
    height: 580px;
    border-radius: 580px;
    border: 26px solid var(--Yellow-main, #ffe550);
    background: var(--White, #fefefe);
  }
}

/* SECTION HERO FINISH */

/* SECTION APPLE START */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .apple-img {
    margin-left: 54px;
    width: 257px;
    height: auto;
  }

  .title-apple {
    width: 526px;
    color: #2c2c2c;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 128px;
  }

  .text-about-our-offerings {
    width: 500px;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px;
  }

  .container-icon-rocket {
    display: flex;
    justify-content: flex-start;
  }

  .rocket-container,
  .touch-container {
    margin-top: 33px;
  }

  .title-delivery-order {
    width: 152px;
    color: #2c2c2c;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
  }

  .text-delivery-order {
    width: 288px;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .title-delivery-order-two {
    width: 252px;
  }

  .touch-container {
    margin-left: 80px;
  }

  .btn-order-apple {
    color: var(--Black, #2c2c2c);
    text-align: right;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--Dark-green, #7eb101);
    background: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-order-apple:hover,
  .btn-order-apple:focus {
    background: #bbf330;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }

  .text-read-more {
    color: var(--Black, #000);
    font-family: Roboto;
    font-size: 13.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 24px;
  }

  .container-btn-text-read-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 32px;
  }
  .icon-chevron-down {
    margin-left: 3px;
  }

 

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .container-apple {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 841px;
    flex-shrink: 0;
    background-color: #ffe550;
    padding-top: 167px;
    display: flex;
    justify-content: flex-start;
  }

  .container-apple-item {
    width: 550px;
    height: 550px;
    flex-shrink: 0;
    padding: 0;
    border-radius: 550px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
  }

  .container-apple-backround {
    width: 502px;
    height: 502px;
    flex-shrink: 0;
    border-radius: 502px;
    background: var(--White, #fefefe);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .apple-img {
    width: 396px;
    height: 502px;
    flex-shrink: 0;
    margin-bottom: 155px;
    margin-left: 12px;
  }

  .title-apple {
    width: 526px;
    height: 100px;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 50.4px */
    margin-top: 8px;
  }

  .container-about-our-offerings {
    margin-top: 29px;
    margin-left: 90px;
  }

  .text-about-our-offerings {
    width: 500px;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .container-icon-rocket {
    display: flex;
    justify-content: flex-start;
  }

  .title-delivery-order {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 16px;
    margin-top: 8px;
  }

  .text-delivery-order {
    width: 253px;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .touch-container {
    margin-left: 67px;
  }

  .icon-rocket-touch-back {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--White, #fefefe);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-order-apple {
    color: var(--Black, #2c2c2c);
    text-align: right;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    display: inline-flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--Dark-green, #7eb101);
    background: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 32px;
  }

  .btn-order-apple:hover,
  .btn-order-apple:focus {
    background: #bbf330;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }

  .text-read-more,
  .icon-chevron-down {
    display: none;
  }
}
